GURU NANAK DEV ENGINEERING COLLEGE, LUDHIANA
An Autonomous College under UGC Act - 1956 [2(f) and 12(B)]
Affiliated to I.K.Gujral Punjab Technical University


No. COE/101/
Dated: - __________

Principal

Subject: Declaration of Results of End Semester Examination, Nov-2019.

Sir,

With Reference to PTU’s letter reference No. IKGPTU/Exam/6895 dated: 20-05-2020 (copy attached), examination branch is going to declare the result of intermediate semester on the basis of 50% performance of internal assessment (Individual Theory Subject) of the current semester and Remaining 50% performance of all theory external subjects average in the previous semester (which includes performance of reappear subject (s) and excluding absent subject(s)).
The students will also be given the options to take exams to improve their grades/marks, if they desire to do so.
Submitted for your approval please.

Controller of Examinations
